<!DOCTYPE html>
<html lang=en>
<header style="background:navy; color:white">
  <% if (user) { %>
    Welcome, <%= user["email"] %> !
    <br />
    <a href='/urls' style="text-decoration:none; color:white">See My Links</a>
    <form method="POST" action="/logout">
    <button type="submit">Log Out</button></form>
  <% } %>

</header>
</html>