<!DOCTYPE html>
<html lang=en>
<header>
  <% if (user) { %>
    Welcome <%= user["email"] %> !
    <form method="POST" action="/logout">
    <button type="submit">Log Out</button></form>
  <% } else { %>
    <form action="/login" method="GET">
    <label for="username">Log In</label>
    <input type="submit" value="Enter">
    </form>
    <form action="/register" method="GET">
    <label for="register">Register</label>
    <input type="submit" value="Click here!">
    </form>
  <% } %>
</header>
</html>