<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Tiny App</title>
  </head>
  <body>
    <form action="/register" method="POST" style="margin:50px;">
      <label for="email">Enter your e-mail address:</label>
      <input id="email" type="text" name="email" placeholder="E-mail" style="width: 300px">
      <label for="password">Create a password:</label>
      <input id="password" type="text" name="password" placeholder="Password" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>