<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Tiny App</title>
  </head>
  <body>

    <form action="/login" method="POST" style="margin:50px;">
      <label for="email">Enter your e-mail address:</label>
      <input id="email" type="text" name="email" placeholder="E-mail" style="width: 300px">
      <label for="password">Enter your password:</label>
      <input id="password" type="text" name="password" placeholder="Password" style="width: 300px">
      <input type="submit" value="Submit">
    </form><br />
    <form action="/register" method="GET">
    <label for="register">New user?</label>
    <input type="submit" value="Click here!">
    </form>
  </body>
</html>