<!DOCTYPE html>
<html>
<head>
  <title> Tiny App</title>
  <% include partials/_header %>
</head>
<body>
  <h3>
      <% for (let key in urls) { %>
        <% if (key === shortURL) { %>
          Full URL: <%= urls[key]["long"] %> <br />
          Short URL: <%= shortURL %>
          <form action="/urls/<%= key %>" method="POST" style="margin:150px;">
          <label for="longURL">Enter a new full URL for the code <%= key %>:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Submit">
          </form>
        <% } %>
      <% } %>
  </h3>
</body>
</html>